    <% @usertodos.each_slice(3) do |usertodos| %>
      <div class='row'>
         <% usertodos.each do |usertodo| %>
            <div class='card'style="width: 18rem;"> 
               <%= image_tag usertodo.todo.taskphoto, class: 'card-img-top' %>
               <div class="card-body">              
                  <h5 class="card-title">         <%= link_to usertodo.todo.taskname, show_usertodo_path(usertodo.todo) %>  </h5>
 
                     <% if usertodo.completed %>   
                           <%= button_to "Completado..!", usertodo_path(usertodo), class: 'btn btn-success', method: :patch %>                   
                     <% else %>   
                           <%= button_to "Completar", usertodo_path(usertodo), class: 'btn btn-danger', method: :patch %>  
                     <% end %>  
            
               </div>
            </div>
         <% end %>
      </div>
   <% end %> 




   
   




