<h1>Tasks For September 18th ....!</h1>


    <% @todos.each_slice(3) do |todos| %>
      <div class='row'>
         <% todos.each do |todo| %>
            <div class='card'style="width: 18rem;"> 
               <%= image_tag todo.taskphoto, class: 'card-img-top' %>
               <div class="card-body">              
                     <%= link_to "Completar", new_user_session_path, class: 'btn btn-danger'%>  
               </div>
            </div>
         <% end %>
      </div>
   <% end %> 







<%
=begin%>
 

<% @todos.each_slice(3) do |todos| %>
   <div class='row'>
      <% todos.each do |todo| %>
         <div class='card'style="width: 18rem;"> 
              <%= image_tag todo.taskphoto, class: 'card-img-top' %>
               <div class="card-body">
                  <h5 class="card-title"><%= todo.taskname %></h5>
      
              </div>
         </div>
      <% end %>
   </div>
<% end %> 
<%
=end%>



